<h1>Longest word game</h1>

<p> <%= @grid.join(" ") %> </p>

<form action="/score" method="get">
  <label for="question">What is the longest word?</label>
  <input type="hidden" name="grid" value="<%= @grid %>">
  <input type="text" id="question" name="guess" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
